extends layout

block content
  form#sign_up(action="/messages_create", method="POST")
    h2 Create message
    div
      lable(for="emai") Title: 
      input#title(type="text", name="title" required)
    div
      lable(for="text") Content: 
      textarea#text(name="text" rows=10 required)
    button#submit(type="submit") Submit
  
  if errors
    ul
      for error in errors
        li!= error.msg
  hr 
  a(href="/home") Home