extends layout

block content
  h1= title
  if !user
    p Welcome to #{title}, sign up to view messages!
  else
    h2 Welcome #{user.first_name}!

  br
  if !user
    div
      a(href='/sign_in') Sign in
    div
      a(href ='/sign_up') Sign up
  else
    div
      a(href='/messages') Message board
    div
      a(href='/logout') Log out

  h1= message
  if user
    