extends layout
block content
  title Message Display
  h1 Messages
  ul#messages
    each message in messages
      - 
        const options = {
          year: 'numeric',
          month: 'short',
          day: 'numeric',
          hour: 'numeric',
          minute: 'numeric',
          hour12: true,
        };
      
      - const formatter = new Intl.DateTimeFormat('en-US', options);
      - const formattedDate = formatter.format(message.timestamp);

      li.message
        h3 <strong>#{message.title}</strong>
        p.messageText #{message.text}
        p #{message.sender.email}
        p #{formattedDate}
      hr

  div
    a(href="/home") Home
  if user
    div
      a(href='/messages_create') Create Message