extends layout
block content
  h1= title
  if user
    form#secret_password.form(action="/secret", method="POST")
      h2 Secret password
      div
        lable(for="password") Password: 
        input#password(type="password", name="password" required)

      button#submit(type="submit") Submit
  else
    p Please sign in first: <a href="/sign_in">Sign in</a>


  if errors
    ul
      for error in errors
        li!= error.msg
  hr 
  a(href="/home") Home