extends layout

block content
  form#sign_up(action="/sign_in", method="POST")
    h2 Sign in
    div
      lable(for="username") Email: 
      input#username(type="email", name="username" required)
    div
      lable(for="password") Password: 
      input#password(type="password", name="password" required)

    button#submit(type="submit") Submit

  if messages
    ul
      for message in messages
        li= message
  hr 
  a(href="/home") Home