* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 50px;
  font: 1.6rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sign_up {
  display: flex;
  flex-direction: column;
  gap: 0.6rem
}

#sign_up div {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

#submit {
  max-width: 10rem;
  width: 5rem;
}

h1, h2 {
  margin-bottom: 1rem;
}

hr {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  background: lightslategray;
}