body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sign_up {
  display: flex;
  flex-direction: column;
  gap: 0.4rem
}

#sign_up div {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
}

#submit {
  max-width: 10rem;
  width: 5rem;
}
